.item {
    font-size: 20px;
    padding: 10px 0;
    display: flex;
    border-bottom: 1px solid #ecebe4;
    position: relative;
}


.item_finished .item__text {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.34)
}


.item__text {
    padding-left: 15px;
}

.item__icon {
    border: 2px solid black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item__icon:hover {
    border-color: rgba(0, 0, 0, 0.34);
}

.item__button-remove {
    background-color: #fff;
    border: none;
    position: absolute;
    right: 0;
    fill: rgba(0, 0, 0, 0.34);
}

.item__button-remove:hover {
    fill: black;
}